#header {
	width: 100%;
	height: 50px;
	color: #0000ff;  /*blue*/
	padding-top: 25px;
	padding-left: 10%
}

h1 {
	margin-top: -10px;
}

#main {
    position: absolute;
    z-index: -999;
    display: inline-block;
	background-color: #808080;  /*grey*/
    width: 100%;
	height: 250px;
	padding: 1%;
	width: 100%;
}

#pics {
    width: 66%;
    margin: 0 auto;
}

#pics figcaption {
    color: #fff;  /*white*/
}

.race_box {
    float: left;
    width: 215px;
    margin-right: 7.3%;
    margin-top: 25px;
}

dt {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}