        table{
            border-collapse: collapse;
        }
        table td{
            border: 3px solid black;
        }
        
        table tr:first-child td {
            border-top: 0px;
        }
        table tr:last-child td {
            border-bottom: 0px;
        }
        table tr td:first-child {
            border-left: 0px;
        }
        table tr td:last-child {
            border-right: 0px;
        }
        
        
        table {
            width: 315px;
            height: 315px;
            margin: 25px auto;
            text-align: center;
        }
        td {
            width: 100px;
            height: 100px;
        }
        img {
            width: 75px;
            height: 75px;
        }
body{
    text-align: center;
}